.wrapper {
  width: 100%;
  background-color: #ffffff;
  border: var(--wc-file-link-border, 1px solid #e9e9e9);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.wrapper:hover,
.wrapper:active {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--wc-file-link-margin, 20px);
}
.info {
  display: flex;
  align-items: center;
}
.info .icon {
  width: 34px;
  height: 44px;
  margin-right: 24px;
  position: relative;
  flex-shrink: 0;
  background: transparent url('./images/file.svg') top left no-repeat;
}
.info .icon .extension {
  padding: 2px 4px;
  position: absolute;
  top: 20px;
  right: 0;
  background: #48a1e6 url('./images/file.svg') top left no-repeat;
  border-radius: 2px;
  color: #ffffff;
  font-family: inherit;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
}
.info .data .name {
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #333333;
}
.wrapper:hover .info .data .name,
.wrapper:active .info .data .name {
  color: #48A1E6;
}
.info .data .size {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.7;
  color: #b8b8b8;
  text-transform: uppercase;
}
.download {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background: transparent url('./images/download.svg') top left no-repeat;
}
.wrapper:hover .download {
  background: transparent url('./images/download-hover.svg') top left no-repeat;
}
.wrapper:active .download {
  background: transparent url('./images/download-active.svg') top left no-repeat;
}
